.reviewer-details {
    border: 1px solid #e6ecf0;
    border-radius: 8px;
    padding: 8px;
    margin-top: 21px;
    width: 571px;
    display: flex;
}

.reviewer-details img {
    width: 400px;

}

.reviewer-detail-info {
    margin: 0;
}

.reviewer-detail-info .ratings {
    margin-right: 10px;
}

.icon-color {
    color: rgb(252, 218, 27);

}