.shop-container {
    display: grid;
    grid-template-columns: 3fr 2fr;
}

.products-container {
    margin-top: 80px;
}

.product-colors {
    color: rgb(241, 64, 138);
    font-weight: 700;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 55px;
}

.product-colors2 {
    color: rgb(102, 100, 216);
    font-weight: 700;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 55px;
}

.products-color {
    color: blue;
    font-weight: 700;
    font-size: 55px;
}

.product-color {
    color: rgba(0, 0, 0, 0.932);
    font-weight: 700;
    font-size: 55px;
}

.customer {
    margin-right: 80px;
    padding-top: 140px;
}

.btn-color {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 190px;
    margin-top: 10px;
}