.shop-container {
    display: grid;
    grid-template-columns: 3fr 2fr;
}

.products-container {
    margin-top: 80px;
}

.product-colors {
    color: rgb(19, 12, 1);
    font-weight: 700;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 52px;
}

.product-colors2 {
    color: rgb(44, 18, 211);
    font-weight: 700;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 52px;
}

.products-color {
    color: rgb(0, 0, 10);
    font-weight: 700;
    font-size: 55px;
}

.product-color {
    color: rgb(236, 20, 92);
    font-weight: 700;
    font-size: 55px;
}

.customer {
    margin-right: 80px;
    padding-top: 140px;
}

.btn-color {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 190px;
    margin-top: 10px;
}